@charset "utf-8";
/*CSS Document*/
body{
    background-color: lightskyblue;
    margin: 100px;
}

h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: blue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
    color: white;
    font-size: 20px;
}

table{
    display: flex;
    justify-content: center;
}

img{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
   
}
.voltar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;


}
.voltar img{

max-width: 80%;
max-height: 80%;
}
